 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>PPL Software Limited is a software consultancy company providing services in Enterprise Software Development and Virtual Reality Development.</p>
                </div>
                <div class="col-lg-4">
                    <p>We specialise in Enteprise Java development, Enterprise Microsoft .Net development and Virtual Reality development.</p>
                </div>
            </div>
        </div>
    </section>